/* NAVIGATION */
nav li {
	display: inline;
	text-decoration: none;
	margin-right: 25px;
}

.active {
	color: green;
}

/* compontent elements */
textarea {
	resize: inline;
	width: 95%;
}

.tester1 {
	border-style: solid;
	border-color: black;
}

/* component divs */
#goals, #journal, #notepad, #todo, #calendar {
	margin: 2px;
}
