body {
	background-image: url("../images/png/ricepaper-5.png");
	background-repeat: repeat;
	font-family: 'Josefin Slab', serif;
}

#root {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

/* NAVIGATION */
nav li, nav li a {
	display: inline;
	text-decoration: none;
	font-size: 24px;
	margin-right: 25px;

}

.active {
	color: green;
}

/* component classes */
.comps {
	border-style: solid;
	border-color: black;
	/*overflow-y: scroll;*/
	background-color:
	;
}

/* component divs */

#goals, #journal, #notepad, #todo, #calendar {
	margin: 2px;
}

#login, #signup {
	width: 60%;
}

#goals {
	background-color: #a64a22;
}

#looseleaf-logo {
	padding: 10px 0;
}

/* component elements */
textarea {
	background-color: #e2e6c5;
	resize: inline;
	width: 95%;
	font-family: 'Josefin Slab', serif;
	font-weight: 400;
}

.glyphy{
	float: right;
	clear: both;
	background-color: #e3aee8;
	border: 1px solid #631507;
	border-radius: 22px;
	color: #ffffff;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.button {
	float: right;
	clear: both;
	background-color: #e3aee8;
	border: 1px solid #631507;
	border-radius: 8px;
	color: #ffffff;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
}

.button:hover {
	box-shadow: 0 8px 16px 0 #423827;
}

#login .textField, #signup .textField {
	margin: 5px 15px;
	line-height: 25px;
}
